<a href="https://colab.research.google.com/github/omaramg13/bc_data_science/blob/main/OAMG_Desafios_Clase_01_Comenzando_con_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DESAFIOS

Nombre: Omar Alejandro Morales Granados.

Practica del uso de la función print

1 - Imprime la frase "Escuela de Datos de Alura".

In [1]:
print("Escuela de Datos de Alura");

Escuela de Datos de Alura

2 - Imprime tu nombre y tu apellido siguiendo la estructura a continuación:
```
Nombre: [tu nombre]
Apellido: [tu apellido]
```

In [2]:
print("Nombre: Omar Alejandro");
print("Apellido: Morales Granados");

Nombre: Omar Alejandro
Apellido: Morales Granados

3 - Imprime tu primer nombre letra por letra. Por ejemplo, si mi nombre es Álvaro, la salida sería:
```
Á
L
V
A
R
O
```

In [3]:
print("O");
print("M");
print("A");
print("R");

O
M
A
R

4 - Imprime tu fecha de nacimiento en formato día mes año. Recuerda que los valores de día y año no deben estar entre comillas. Suponiendo una fecha de cumpleaños el 28 de febrero de 2003, el formato debe ser como el siguiente:
```
28 febrero 2003
```

In [ ]:
print(13, "noviembre", 1984);

5 - Imprime, en una sola instrucción print, el año actual en el que estás realizando este curso. El valor del año debe ser un dato numérico, y la salida de print debe ser la siguiente:
```
Año actual: [año]
```

In [4]:
print("Año actual:", 2024);

Año actual: 2024